<!-- <table (click)="test(satellites)">
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr class="data-row">
        <td>GPS 938</td>
        <td>Positioning</td>
        <td>true</td>
        <td>HIGH</td>
        <td>2001-11-01</td>
    </tr>
</table> -->
<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th (click)="sort('operational')" class="sortable">Operational</th>
        <th (click)="sort('orbitType')" class="sortable">Orbit Type</th>
        <th (click)="sort('launchDate')" class="sortable">Launch Date</th>
    </tr>
    <tr *ngFor="let satellite of satellites" class="data-row">
        <td class="satellite{{satellites.indexOf(satellite)}}" (click)="test(satellites.indexOf(satellite))">{{satellite.name}}</td>
        <td class="satellite{{satellites.indexOf(satellite)}}" *ngIf="!satellite.isSpaceDebris(satellite.type); else addWarning">{{satellite.type}}</td>
        <ng-template #addWarning>
            <td class="warning">{{satellite.type}}</td>
        </ng-template>
        <td class="satellite{{satellites.indexOf(satellite)}}" >{{satellite.operational}}</td>
        <td class="satellite{{satellites.indexOf(satellite)}}" >{{satellite.orbitType}}</td>
        <td class="satellite{{satellites.indexOf(satellite)}}" >{{satellite.launchDate}}</td>
    </tr>
</table>


<!-- TODO 2b: use *ngFor to display satellite data in the table -->

<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

