.sortable {
	cursor: pointer;
	color: #dd5;
}

.satellite0 {
	background-color: white;
}
.satellite1 {
	background-color: grey;
}
.satellite2 {
	background-color: white;
}
.satellite3 {
	background-color: grey;
}
.satellite4 {
	background-color: white;
}
.satellite5 {
	background-color: grey;
}
.satellite6 {
	background-color: white;
}
.satellite7 {
	background-color: grey;
}
.satellite8 {
	background-color: white;
}
.satellite9 {
	background-color: grey;
}

.warning {
	background-color: #da8a8a;
}

table {
 color: #111;
 border-radius: 5px;
 overflow: hidden;
 margin: 12px 0;
 min-width: 300px;
 background: #dad8d8;
}

.header-row {
	background: #34495E;
	color: #fff
}

th, td {
	text-align: left;
	margin: 5px 10px;
	padding: 6px;
}
